<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Jarvis Panel</title>
        <meta name="author" content="Giacomo Marinangeli">
        <link rel="stylesheet" href="/media/style.css" />
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1>Jarvis Panel</h1>
            </header>
            <div id="container">
                {% block content %}{% endblock %}
                <div class="eof"></div>
            </div>
            <footer>
                Jarvis Panel &copy;2011 <a href="http://goyathlay.org">Giacomo Marinangeli</div>
            </footer>
        </div>
    </body>
</html>
