{% extends "base.html" %}

{% block content %}
    <aside>
        <h2>Service List</h2>
        <nav id="service_list">
            <ul>
                {% for service in service_list %}
                    <li>{{service}}</li>
                    {% if service.users.count %}
                        <ul class="sender_list">
                            {% for sender in service.users.all %}
                                <li {% if sender.id == sender_id %}class="curr"{%endif%}>
                                    <a href="{% url index sender.id %}">{{sender}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </aside>
    <section>
        <h2>Message Logs</h2>
        <div id="message_logs">
            {% if message_logs %}
                {% for message in message_logs %}
                    <div class="message">
                        <div class="time2">
                            {{message.date|date:"Y-m-d"}}
                        </div>
                        <div class="time">
                            {{message.date|date:"H:i.s"}}
                        </div>
                        <div class="text">
                            {{message.text}}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}